.carousel-card-container{
    width: 100%;
    aspect-ratio: 15/6;
    background-size: cover;
    position: relative;
    z-index: -1;
    border-radius: 10px;
}

@media (max-width: 1024px){
    .carousel-card-container {
        aspect-ratio: 16/8;
    }
}

@media (max-width: 768px){
    .carousel-card-container {
        aspect-ratio: 16/9;
    }
}