.hero-skeliton, .hero-container{
    width: 90vw;
    height: 70vh;
    border-radius: 10px;
    margin: 0 auto;
}

.carousel-card-container {
  width: 100%;
  aspect-ratio: 15/5;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}




@media (max-width: 1024px){
    .hero-skeliton, .hero-container{
        width: 95vw;
        height: 50vw;
    }
}

@media (max-width: 768px){
    .hero-skeliton, .hero-container{
        height: 60vw;
    }

    .react-multiple-carousel__arrow{
        display: none;
    }
}

@media (max-width: 600px){
    .hero-skeliton, .hero-container{
        height: 40vh;
    }
}