.home-container{
    margin-top: 30px;
}

.home-content{
    width: 90vw;
    margin: 0 auto;
}

.slider-title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.slider-title div{
    width: 5px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--yellow-primary);
}

@media (min-width:1200px){
    .home-content{
        margin-top: 40px;
    }
}