.home-container {
  margin-top: 30px;
}

.home-content {
  width: 90vw;
  margin: 0 auto;
}

.slider-container {
  margin-bottom: 40px;
}
.slider-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.slider-mob {
  height: 279px;
}

.slider-title div {
  width: 5px;
  height: 35px;
  border-radius: 10px;
  background-color: var(--yellow-primary);
}

@media (min-width: 1200px) {
  .home-content {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .slider-mob {
    height: 201px;
  }
}
