@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "./variables.css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: white;
}

#root{
  width: 100vw;
  min-height: 100vh;
  background-color: black;
}

.shimmer {
	animation: shimmer 2s infinite linear;
	background: linear-gradient(to right, #1a1a1a 4%, rgba(255, 255, 255, 0.08) 25%, #1a1a1a 36%);
	background-size: 1000px 100%;
}

@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}
